<div class="cabinet-block">
    <h1 class="cabinet-title">Кабінет</h1>
    <div class="data-block">
        <ul class="data-fields">
            <li class="field"><span>Вітаємо,</span></li>
            <li class="field"><span>Email:</span></li>
            <li class="field">userID:</li>
            <li class="field">Дата реєстрації:</li>
            <li class="field">Статус: </li>
            <li class="field">Генератор тегів: </li>
            <li class="field">Баланс коштів: </li>
            <li class="field">Остання оплата: </li>
            <li class="field">Історія оплат </li>
            <li class="field">ОПЛАТА ПОСЛУГИ </li>
        </ul>
        <ul class="users-data">
            <li class="field field-user">{{nicname}}</li>
            <li class="field field-email">{{email}}</li>
            <li class="field field-userid">1</li>
            <li class="field field-registrDate">{{registrDate}}</li>
            <li class="field field-status">{{role}}</li>
            <li class="field field-active-generator">{{tegSevice}}</li>
            <li class="field field-balance">{{balance}}</li>
            <li class="field field-lastPaying">{{lastPay}}</li>
            <li class="field field-history"><a href="/payhistory" class="linkhistory">{{linkHistory}}</a><i class="fa-regular fa-hand"></i></li>
            <li class="field field-pay"><a href="/payhistory" class="linkpay">{{linkPay}}</a><i class="fa-regular fa-hand"></i></li>
        </ul>
    </div>
</div>